#footer {
  background-color:#1f0051;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;

}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#part1 h1 {
  font-family: "Roboto";
  font-weight: 500;
  color: #ffffff;
}


#part1 p {
  font-family: "Roboto";
  font-weight: 500;
  color: #ffffff;
  max-width: 350px;
}

.footer-links {
  display: flex;
}

#part2 h1 {
  font-family: "Roboto";
  font-weight: 500;
  color: #ffffff;
}

#part3 h1 {
  font-family: "Roboto";
  font-weight: 500;
  color: #ffffff;
}

#part3 h3 {
  font-family: "Roboto";
  font-weight: 500;
  color: #ffffff;
}

#part2 h3 {
  font-family: "Roboto";
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
}

.icon-footer {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 8px;
  margin-right: 5px;
}

.line2 {
  border: 1px solid #ffffff;
}

.icons-container-footer {
  display: flex;
  align-items: center;
  margin: auto;
}

.footer-icons {
  font-size: 30px;
  color: #ffffff;
  margin-right: 20px;
}

.last-icon {
  align-self: flex-end;
}

.icons-inner-container {
  display: flex;
  align-items: center;
}