.new-metting-button {
    background-color: #4c32a8;
    height: 40px;
    width: 130px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 8px;
    padding: 4px;
    border: none;
    font-size: 20px;
    margin-right: 50px;
}

.new-button-container {
    align-self: flex-end;
}

.meetings-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mettings-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0px;

}
.event-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 10px;

}
.event-name-heading {
    color: #000;
    font-family: "Roboto";
    font-size: 22px;
    font-family: 500;

}
.event-details-span {
    font-family: "Roboto";
    font-size: 16px;
    color: #000;
}

.event-details-para {
    font-family: "Roboto";
    font-size: 20px;
    color: #807e7e;
    font-weight: 500;
}



